/* Be sure to import this after main.css */

h1.title {
	font-size: 40px;
	font-family: "Comfortaa", fantasy;
	font-weight: normal;
}

h2 {
	font-size: 24px;
}


div.listHolder {
	width: 80%;
	margin: 0 auto;
}

article ul {
	list-style-type: circle;
	text-align: left;
	margin: 0 auto;
}

article li {
	font-size: 24px;
	margin: 0 auto;
}


article p {
	font-size: 24px;
	padding: 10px;
}


span.standOut {
	font-size: 24px;
	font-weight: bold;
}



/* For Desktop Mode */
@media (min-width: 1000px) {

	h2 {
		font-size: 18px;
	}

	div.listHolder {
		width: 40%;
		margin: 0 auto;
	}

	article li {
		font-size: 18px;
	}

	article p {
		float: left;
		width: 400px;
		margin: 10px 1%;
		padding: 0;
		font-size: 20px;
	}

	p.first:first-line {
		font-size: 24px;
	}

	span.standOut {
		font-size: 20px;
		font-weight: bold;
	}
}